################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/FichajeQindel/bin
/FichajeQindel/obj
/FichajeQindel.Android/obj
/FichajeQindel.Android/bin
/FichajeQindel.iOS/bin
/FichajeQindel.iOS/obj
/Fichaje_Qindel.apk
